<nav class="text-center container-fluid" id="box-hero" >
    <div class="container box-hero-inner">
        @Html.Partial("Header")
        <div class="hero-box">
            @foreach(var conteudo in ViewBag.ConteudosHeroBox){
                <h1 class="hero-content">@conteudo.Titulo</h1>
                <p>@conteudo.Descricao</p>
            }
        </div>
    </div>
</nav>

