<nav class="text-center container-fluid" id="box-hero" >
    <div class="container box-hero-inner">
        @Html.Partial("Header")
        <div class="hero-box">
            <h1>Hero Helo</h1>
        </div>
    </div>
</nav>